.collapse {
    background-color: #ff6060;
    border-radius: 5px;
    margin-bottom: 20px;
}

.collapse_h2_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 47px;
}

h2 {
    color: white;
    font-size: 24px;
}

img {
    width: 14.06 px;
    height: 23.86px;
}

.collapse_ouvert {
    transform: rotate(0deg);
}

.collapse_fermer {
    transform: rotate(180deg);
}

.collapse_description {
    background-color: #F7F7F7;
    color: #ff6060;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.collapse_texte {
    color: #ff6060;
    font-size: 18px;
}

@media screen and (max-width: 700px) { 
    .collapse_description {
        padding-bottom: 25px;
    }  
}